/** ----- reset -----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//! variables:
$color-principal: rgb(84, 121, 9);
$color-secundario: rgb(199, 18, 18);
$color-terciario: rgb(245, 243, 241);
$color-cuatro: rgb(176, 216, 176);
//! listas:
$font-size: 40px, 60px, 80px, 100px;



