/*----media queries del INDEX , no puedo con ese navegador de bootstrap----*/

@media screen and (max-width: 1475px) {
    .iframeIndex {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1151px) {
    .iframeIndex {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 599px) {
    .iframeQueries {
        width: 250px;
        height: 250px;
    }

    .fotoDeco {
        width: 100%;
        height: 50vh;
    }
}

@media screen and (max-width: 504px) {
    .iframeQueries {
        width: 150px;
        height: 150px;
    }

    .avionix {
        width: 40px;
        height: 40px;
        margin: 10px;
    }

    main h3 {
        font-size: 25px;
    }

    footer img {
        width: 40px;
        height: 40px;
        margin: 35px;

    }

    .fotoDeco {
        width: 100%;
        height: 40vh;
    }

    .container {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

}

@media screen and (max-width: 550px) {
    .footerTalon {
        display: flex;
        flex-wrap: wrap;
    }
}


//  ----  MQ. de Utilidades ---- *//

@media screen and (max-width: 942px) {
    .infoTarjet {
        font-size: 20px;

    }

    .infoTarjetP {
        font-size: 10px;

    }

    .subir {
        font-size: 8px;

    }

}




//  ----  MQ. de Novedades ---- *//

@media screen and (max-width: 1475px) {
    .fotoNovedades {
        width: 300px;
        height: 300px;
    }

    .textoNovedad {
        font-size: 20px;
    }
}

//  ----  MQ. de Contacto ---- *//

@media screen and (max-width: 1486px) {
    main {
        .gridCont {
            width: 100%;
            height: 50vh;
        }

    }
}

.gridContDos {
    font-size: 20px;
}

.watsapp {
    width: 40px;
    height: 40px;
}


.texMap {
    font-size: 20px;
}

@media screen and (max-width: 721px) {
    .gridContDos {
        display: flex;
        flex-direction: column;
    }
}